<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="testbrowser" parallel="tests" >
    <test name="firefoxTest">
        <!--<parameter name="browser" value="firefox" />-->
        <classes>
            <class name="com.newgfan.testcase.TestMainPage"/>
            <class name="com.newgfan.testcase.TestComputerPage" />
            <class name="com.newgfan.testcase.TestPhonePage" />
            <class name="com.newgfan.testcase.TestJiaDianPage" />
            <class name="com.newgfan.testcase.TestOfficePage"/>
            <class name="com.newgfan.testcase.TestSmartPage" />
            <class name="com.newgfan.testcase.TestNewMedia" />
            <class name="com.newgfan.testcase.TestTopNavgation"/>
            <class name="com.newgfan.testcase.TestFooter"/>
        </classes>
    </test>
    <!--<test name="chromeTest">-->
        <!--&lt;!&ndash;<parameter name="browser" value="chrome" />&ndash;&gt;-->
        <!--<classes>-->
            <!--<class name="com.newgfan.testcase.TestMainPage"/>-->
            <!--<class name="com.newgfan.testcase.TestComputerPage" />-->
            <!--<class name="com.newgfan.testcase.TestPhonePage" />-->
            <!--<class name="com.newgfan.testcase.TestJiaDianPage" />-->
            <!--<class name="com.newgfan.testcase.TestOfficePage"/>-->
            <!--<class name="com.newgfan.testcase.TestSmartPage" />-->
            <!--<class name="com.newgfan.testcase.TestNewMedia" />-->
            <!--<class name="com.newgfan.testcase.TestTopNavgation"/>-->
            <!--<class name="com.newgfan.testcase.TestFooter"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="iexploreTest">-->
        <!--&lt;!&ndash;<parameter name="browser" value="iexplore" />&ndash;&gt;-->
        <!--<classes>-->
            <!--<class name="com.newgfan.testcase.TestMainPage"/>-->
            <!--<class name="com.newgfan.testcase.TestComputerPage" />-->
            <!--<class name="com.newgfan.testcase.TestPhonePage" />-->
            <!--<class name="com.newgfan.testcase.TestJiaDianPage" />-->
            <!--<class name="com.newgfan.testcase.TestOfficePage"/>-->
            <!--<class name="com.newgfan.testcase.TestSmartPage" />-->
            <!--<class name="com.newgfan.testcase.TestNewMedia" />-->
            <!--<class name="com.newgfan.testcase.TestTopNavgation"/>-->
            <!--<class name="com.newgfan.testcase.TestFooter"/>-->
        <!--</classes>-->
    <!--</test>-->


</suite>